/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styling */
body {
  font-family: "Geist", sans-serif;
  background-color: #f6f4ef; /* Optional: Can be overridden by Tailwind classes */
  color: #1a1a1a; /* Optional: Can be overridden by Tailwind classes */
  overflow-x: hidden;
}

.mono {
  font-family: "Geist Mono", monospace;
}
